<html>
<script lang="javascript">
    alert('name = '+user);
</script>
<body>
    <form method="GET" action="FormSubmitted">
        <input type="text" name="txtn" value="<%= user%>" />
        </form>
</body>

</html>